@font-face {
  font-family: 'vazir';
  src: url('../fonts/Vazir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
    height: 90%;
}
body{
    height: 100%;
}

button.bbtn{
    width: inherit;
}

button{
    border:none;
    display: block;
    width: 100%;
}
.home-body{
    background-image: url("../images/Background.png");
    background-repeat: no-repeat;
    background-color: #7477B6;
    background-size: 80%;
    height: 100%;
    background-position: -400px 100px;
    margin-top: 20px;
    font-family: 'vazir', monospace,serif;
}

.brand{
    font-size: 25px;
    display: inline-block;
    color:#fff;
    margin-right: 20px;
}
.navbar-line{
    background-color: #fff;
    border:none;
    height: 1px;
}

.navbar{
    direction: rtl;
    min-height: 50px;
}
.navbar-user{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.username {
    font-size: 25px;
    display: inline-block;
    color:#fff;
    margin-left: 20px;
    cursor: pointer;
}

.user-dropdown-content{
    display: none;
    background: #fff;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #000;
    min-width: 200px;
    margin-top: 5px;
    z-index: 1;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.37);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.37);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.37);
}

.center {
    text-align: center;
}
.dropdown-button{
    background-color: white;
    border: none;
    font-style: inherit;
    font-family: 'vazir', monospace, serif;
    font-size: 80%;
    padding: 10px 10px 10px 10px;
    text-align: right;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.dropdown-button:hover{
    background-color: #EDEDED;
}

.dropdown-button:active{
    background-color: #D2D2D2;
}

.username:hover{
    color: #C8CCF9;
}

.username:hover .user-dropdown-content{
    display: block;
}

.navbar-logo{
    float: right;
    margin-left: 20px;
}
.navbar-logo > img{
    width:50px;
    vertical-align: middle;
    margin-bottom: 10px;
}
.brand-icon{
    font-size: 10px;
}
.slideshow-container{
    display: inline;
    margin-top: 2%;
    width: 32%;
    height: 100%;
    float: left;
    position: relative;
}

.slideshow-container:hover .slideshow-photo {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

.slideshow-photo{
    position: absolute;
    opacity: 0;
    animation: round 32s infinite;
    width: 100%;
}

.slideshow-images{

}

@keyframes round {
    10% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}
img:nth-child(8) {
    animation-delay: 28s;
}

img:nth-child(7) {
    animation-delay: 24s;
}

img:nth-child(6) {
    animation-delay: 20s;
}

img:nth-child(5) {
    animation-delay: 16s;
}

img:nth-child(4) {
    animation-delay: 12s;
}

img:nth-child(3) {
    animation-delay: 8s;
}

img:nth-child(2) {
    animation-delay: 4s;
}

img:nth-child(1) {
    animation-delay: 0s;
}


.slideshow-container >img{
    width:100%;
}

.home-container{
    margin: 2% 15%;
}

.slideshow-text{
    margin: 2% 5%;
    font-size: 150%;
    text-align: center;
    color:#fff;
}

.ticket-search{
    display: inline-block;
    width: 53%;
    float: right;
}

.ticket-search-form{
    padding: 20px;
    margin-top: 20px;
    background-color: #3C3F68;
    min-height: 100px;
    border-radius: 10px 10px 0 0;
    font-size: 85%;
}

.search-ticket-wrapper{
    margin: 0 15%;
    padding: 5%;
    height: 90%;
}

.ticket-type{
    background-color: white;
    /*border: 1px solid #fff;*/
    border-radius: 10px;
    line-height: 3;
    width: 100%;
    overflow: auto;
}

.ticket-type label input {
    position:absolute;
    top:-20px;
}

.one-way{
    border: 1px solid #fff;
    text-align: center;
    float: right;
    border-radius: 0 10px 10px 0;
    background-color: #3C3F68;
    width: calc(40% - 2px);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.one-way span {
    border-radius: 0 7px 7px 0;
    display:block;
}

.ticket-type input:checked + span{
    background-color: white;
    color: #000000;
}

.one-way:hover{
    background-color: #616377;
}

.two-way{
    border: 1px solid #fff;
    text-align: center;
    float: left;
    border-radius: 10px 0 0 10px;
    background-color: #3C3F68;
    width: calc(60% - 2px);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

.two-way span {
    border-radius: 7px 0 0 7px;
    display:block;
}

.two-way:hover{
    background-color: #616377;
}

.searchinput{
    border: none;
    border-radius: 5px;
    line-height: 2em;
    direction: rtl;
    padding: 10px;
    font-family: 'vazir', monospace, serif;
    font-size: 120%;
    font-style: oblique;
    width: 100%;
    background-color: #fff;
}

.photo {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
}

.bbtn.disabled{
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}

.bbtn{
    background-color: #3C3F68;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    padding: 15px;
    font-size: 110%;
    direction: rtl;
    text-decoration: none;
    margin: 0 10px;
    transition: all .3s;
}
.bbtn:hover{
    text-decoration: none;
    color:#fff;
    background-color: #3C3F68;
    -webkit-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
}

.bbtn:active{
    text-decoration: none;
    -webkit-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    background-color: #3C3F68;
}

.bbtn:visited{
    text-decoration: none;
    color:#fff;
}
.orbtn{
    background-color: #F49287;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    min-width: 100px;
    padding: 15px;
    font-size: 110%;
    direction: rtl;
    text-decoration: none;
    margin: 0 10px;
    transition: all .3s;

}
.orbtn:hover{
    text-decoration: none ;
    color:#fff;
    background-color: #F49287;
    -webkit-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
}
.orbtn:active{
    text-decoration: none;
    -webkit-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    background-color: #F49287;
}

.orbtn:visited{
    text-decoration: none;
    color:#fff;
}

.sbtn{
    display: block;
    text-decoration: none;
    outline: 0;
    min-height: 40px;
    background-color: #EB9486;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-family: vazir, serif;
    border: none;
    width: 100%;
    color:#fff;
    line-height: 200%;
}
.sbtn:visited{
    text-decoration: none;
    border: none;
    color:#fff;
}
.sbtn:hover{
    background-color: #FFA091;
}
.sbtn:active{
    text-decoration: none;
    border: none;
    outline: 0;
    background-color: #E3887E;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
}

.resbtn > span{
    font-weight: 700;
    font-size: 80%;
}

.resbtn.resbtn-xs{
    height: 50px;
    min-height: 50px;
    padding: 10px;
    display: block;
}
.resbtn:visited{
    text-decoration: none;
    color:#754740;
}
.resbtn{
    text-decoration: none;
    outline: none;
    background-color: #EB9486;
    text-align: center;
    color:#754740;
    min-height: 100px;!important;
    padding-top: 24px;
    font-size: 140%;
}

.resbtn:hover{
    text-decoration: none;
    background-color: #FFA091;
    color:#754740;
}
.resbtn:active{
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.23);
    background-color:#E3887E;
}

.form-line{
    margin-bottom: 20px;
    margin-right: 2%;
    direction: rtl;
}

.form-input-label{
    width: 30%;
    color:#fff;
    display: inline-block;
}

.input-label{
    display: inline;
    margin-right: 10px;
    font-size: 140%;
}

.form-input{
    width: 65%;
    background-color: #fff;
    border-radius: 5px;
    min-height: 35px;
    display: inline-flex;
}

.date-input{
    direction: rtl;
    float: left;
    width: 100%;
    font-size: 140%;
    background-color: #fff;
    border-radius: 5px;
    min-height: 35px;
    display: inline-block;
}
.passenger-type-label{
    font-size: 70%;
    color: #fff;
}

.count-form{
    width: calc(100%/3);
    display: inline;
}
.count-text{
    display: inline;
    color: #fff;
    margin-right: 20px;
    font-size: 90%;
    width: 17%;
    margin-left: calc(44%/3);
}

.countinput{
    width: 60%;
    margin-left: calc(40%/3 - 1em);
    margin-right: 1.5%;
    border: none;
    border-radius: 5px;
    line-height: 1.5em;
    direction: rtl;
    padding: 10px;
    font-family: 'vazir', monospace, serif;
    font-size: 120%;
    font-style: oblique;
    background-color: #fff;
    color: #000;
}

.gray-box{
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    direction: rtl;
    text-align: right;
    height: auto;
    /*overflow: auto;*/
    margin-bottom: 50px;
}
.flight{
    margin:0 0 20px 0;

}
.reserve-body,
.flights-body,
.tickets-body{
    padding-top: 80px;
    background-color: #fff;
    font-family: 'vazir', monospace, serif;
    overflow-x: hidden;
    min-height: 100%;
}

.navbar-logo-text{
    color: #3D4266;
    font-size: 180%;
    margin: 0;
    direction: rtl;
}

.navbar-text{
    color: #3C3F68;
    font-size: 180%;
    margin: 0;
    direction: rtl;
    cursor: pointer;
}

.navbar-text:hover{
    color: #8490DB;
}

.navbar-text:hover .user-dropdown-content{
    display: block;
}

.mybreadcrumb{
    background-color:#676AA9;
    min-height: 80px;
    text-align: center;
    font-size: 150%;
    padding: 20px 0;
    line-height: 2em;
    margin-bottom: 30px;
    direction: rtl;
    cursor: default;
}

.mybreadcrumb-item {
    color: #3C3F68;
    display: inline;
}
.mybreadcrumb-item > i{
    margin: 0 10px;
}
.mybreadcrumb-item.active{
    color:#fff;
}

.control-labels{
    direction: rtl;
    font-weight: 700;
    font-size: 120%;
}

.control-labels > a{
    margin-bottom: 20px;
}

.control-back {
    color: #161616;
}

a.control-back,
a.control-back:visited,
a.control-back:hover{
    text-decoration: none;
}

.control-back > i{
    margin: 0 10px;

}
.rem-time{
    color: red;
    margin-right: 20px;
    font-weight: 400;
}

.form-label{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 120%;
}
.round{
    border-radius: 10px;
}
.round-right{
    border-radius: 0 10px 10px 0;
}
.round-up{
    border-radius: 10px 10px 0 0;
}
.round-left{
    border-radius: 10px 0 0 10px;
}
.round-bottom{
    border-radius: 0 0 10px 10px;
}
.box{
    background-color: #fff;
    padding: 1.5% 2% 1% 2%;
    min-height: 100px;
    direction: rtl;
}

.flight-name{
    font-size: 120%;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 700;
}
.flight-date{
    font-size: 100%;
    font-weight: 700;
}

.flight-info.res{
    direction: rtl;
    color: #A0A0A0;
    text-align: center;
    font-size: 120%;
}
.plane-name {
    margin-left: 20px;
}

.flight-info-main.res{
    margin-top: 15px;
    font-size: 150%;
    margin-bottom: 5px;
    color:#585757;
}
.plane-name,.avail-seats{
    font-size: 80%;
}
.flight-info{
    font-size: 120%;
}
.flight-info-main{
    font-size: 150%;
    text-align: center;
    margin-top: 20px;
}
.flight-info-item{
    margin-bottom: 20px;
}

.table{
    direction: rtl;
}

.table > thead > tr > th{
    text-align: right;
    /*TODO*/
    /*min-width: 10%;*/
}
.table > tbody > tr > td {
    font-size: 125%;
    padding-right: 0;
}
.table > thead > tr > th{
    padding-right: 0;
}
.table > tbody > tr.res > td {
    background-color: #98E19B;
}

.table > thead > tr > th {
    color: #999999;
}

.passenger-type{
    font-size: 110%;
    margin: 20px 0;
    text-align: right;
}
.passenger-type > i {
    margin-left: 10px;
}

.myinput{
    border: none;
    border-radius: 5px;
    min-height: 40px;
    line-height: 2em;
    padding: 10px;
    font-family: 'vazir', monospace, serif;
    font-size: 120%;
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}
.myinput > i {
    margin-top: 8px;
}

.input-passenger-line{
    /*margin-bottom: 20px;*/
    height: auto;
    min-height: 40px;
}

.sex-select{
    width: 100%;
    border: none;
    border-radius: 5px;
    line-height: 1.5em;
    direction: rtl;
    padding: 10px;
    font-family: 'vazir', monospace, serif;
    font-size: 120%;
    font-style: oblique;
    background-color: #fff;
    margin-bottom: 20px;
}

.mynavbar{
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
    height: 80px;
    padding: 20px;
    margin-top: -80px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    font-family: 'vazir', monospace, serif;
    text-align: center;
}

#home-footer {
    clear: both;
    position: relative;
    color: #fff;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    font-family: 'vazir', monospace, serif;
    text-align: center;
}

.form-btns{
    direction: rtl;
    text-align: right;
    margin: 40px 0 20px 0;
}

.ticket-box{
    background-color: #EEEEEE;
    width: 100%;
    border-radius: 5px;
    padding: 20px 35px;
    direction: rtl;
    text-align: right;
    margin-bottom: 50px;
}

.ticket-box > hr{
    min-height: 1px;
    background-color: #8E8E8E;
}

.ticket-box-label{
    color: #8E8E8E;
    font-size: 100%;
    margin-left: 50px;
}
.codes{
    font-weight: 700;
    font-size: 200%;
}
.tickets-info{
    color: #000;
    font-size:150%;
}
#printall{
    cursor: pointer;
}
.black{
    color: #000;
    font-size: 100%;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target {
    display: block;
}

.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}
.modal-dialog {
    direction: rtl;
    text-align: right;
    font-family: 'vazir', monospace, serif;
    background: #fff;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.37);
}
.modal-body {
    padding: 20px;
}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eee solid 1px;
}
.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    border-top: #eee solid 1px;
    text-align: right;
}
#close {
    display: none;
}

.printbtn{
    background-color: #3C3F68;
    border-radius: 10px;
    text-align: center;
    color:#fff;
    min-width: 275px;
    padding: 15px;
    font-size: 110%;
    direction: rtl;
    text-decoration: none;
    margin: 10px;
    transition: all .3s;
    display: block;
}
.printbtn:hover{
    text-decoration: none;
    color:#fff;
    background-color: #3C3F68;
    -webkit-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 19px -4px rgba(0,0,0,0.75);
}

.printbtn:active{
    text-decoration: none;
    -webkit-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 10px 41px -7px rgba(0,0,0,0.75);
    background-color: #3C3F68;
}

.printbtn:visited{
    text-decoration: none;
    color:#fff;
}

.col-xs-2, .mycol-md-2, .mycol-lg-2, .mycol-md-3, .mycol-md-4, .mycol-lg-4, .mycol-xs-6, .mycol-sm-6, .mycol-md-6, .mycol-lg-6, .mycol-xs-10, .mycol-md-10, .mycol-lg-10, .mycol-xs-12, .mycol-sm-12, .mycol-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mycol-xs-6, .mycol-xs-10, .mycol-xs-12 {
    float: left;
}
.mycol-xs-12 {
    width: 100%;
}
.mycol-xs-10 {
    width: 83.33333333%;
}
.mycol-xs-6 {
    width: 50%;
}
.mycol-xs-offset-1 {
    margin-left: 8.33333333%;
}
@media (min-width: 768px) {
    .mycol-sm-6, .mycol-sm-12 {
        float: left;
    }
    .mycol-sm-12 {
        width: 100%;
    }
    .mycol-sm-6 {
        width: 50%;
    }
    .mycol-sm-offset-1 {
        margin-left: 8.33333333%;
    }
}
@media (min-width: 992px) {
    .mycol-md-2, .mycol-md-3, .mycol-md-4, .mycol-md-6, .mycol-md-10 {
        float: left;
    }
    .mycol-md-10 {
        width: 83.33333333%;
    }
    .mycol-md-6 {
        width: 50%;
    }
    .mycol-md-4 {
        width: 33.33333333%;
    }
    .mycol-md-3 {
        width: 25%;
    }
    .mycol-md-2 {
        width: 16.66666667%;
    }
    .mycol-md-offset-3 {
        margin-left: 25%;
    }
    .mycol-md-offset-1 {
        margin-left: 8.33333333%;
    }
}
@media (min-width: 1200px) {
    .mycol-lg-2, .mycol-lg-4, .mycol-lg-6, .mycol-lg-10{
        float: left;
    }
    .mycol-lg-10 {
        width: 83.33333333%;
    }
    .mycol-lg-6 {
        width: 50%;
    }
    .mycol-lg-4 {
        width: 33.33333333%;
    }
    .mycol-lg-2 {
        width: 16.66666667%;
    }
    .mycol-lg-offset-3 {
        margin-left: 25%;
    }
    .mycol-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .mycol-lg-offset-1 {
        margin-left: 8.33333333%;
    }
}

.myrow {
    margin-right: -15px;
    margin-left: -15px;
}

.myrow:before,
.myrow:after {
    display: table;
    content: " ";
}

.myrow:after {
    clear: both;
}

.mypull-left {
    float: left !important;
}

@media (min-width: 768px) {
    .mynavbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .mynavbar-right ~ .mynavbar-right {
        margin-right: 0;
    }
}

.mypull-right {
    float: right !important;
}

@media (max-width: 767px) {
    .myhidden-xs {
        display: none !important;
    }
}

.myactive {
    color: #f5f5f5;
}

.mycontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .mycontainer {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .mycontainer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .mycontainer {
        width: 1170px;
    }
}

.myvisible-xs-block  {
    display: none !important;
}

input.ng-invalid {
    border: 1px solid darkred;
}
input.ng-valid {
    border: 1px solid forestgreen;
}