<title>Ticketi</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/font-awesome.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/ticketi.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap-select.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="assets/javascripts/angular.min.js"></script>
<script src="assets/javascripts/app.js"></script>
<script src="assets/javascripts/bootstrap-select.js"></script>