<div class="home-container">

    <div class="navbar">
        <div class="navbar-logo">
            <img src="assets/images/LogoWhite.png">
            <div class="brand">
                تیکِتی
                <i class="fa fa-trademark brand-icon" aria-hidden="true"></i>
            </div>

        </div>
        <div class="navbar-user">
            <div class="username">
                <i class="fa fa-user" aria-hidden="true"></i>
                برنا ارضی
                <div class="user-dropdown-content">
                    <button type="button" class="dropdown-button">
                        <i class="fa fa-list" aria-hidden="true"></i>  بلیت‌های من
                    </button>
                    <button type="button" class="dropdown-button">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>   خروج
                    </button>
                </div>
            </div>

        </div>
    </div>

    <hr class="navbar-line">
</div>

<div class="search-ticket-wrapper">
    <div class="slideshow-container">
        <div class="slideshow-images">
            <img src="assets/images/1.png" class="slideshow-photo">
            <img src="assets/images/2.png" class="slideshow-photo">
            <img src="assets/images/3.png" class="slideshow-photo">
            <img src="assets/images/4.png" class="slideshow-photo">
            <img src="assets/images/5.png" class="slideshow-photo">
            <img src="assets/images/6.png" class="slideshow-photo">
            <img src="assets/images/7.png" class="slideshow-photo">
            <img src="assets/images/8.png" class="slideshow-photo">
        </div>
        <img src="assets/images/1.png" class="slideshow-base-photo">

        <div class="slideshow-text">
            سفر ارزان و راحت با تیکتی
        </div>
    </div>
    <div class="ticket-search">
        <form ng-submit = "sc.SendSearchReq()" >
            <div class="ticket-type">
                <label class="one-way"><input name="way" type="radio" value="1" checked><span> یک طرفه</span></label>
                <label class="two-way"><input name="way" type="radio" value="2"><span> رفت و برگشت </span></label>
            </div>
            <div class="ticket-search-form">
                <div class="form-line">
                    <div class="form-input-label">
                        <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
                        <div class="input-label">
                            مبدا
                        </div>
                    </div>
                    <div class="form-input">
                        <select name="from" class="searchinput" title="from" ng-model="sc.searchData.src">
                            <option value="THR">تهران - فرودگاه مهرآباد</option>
                            <option value="MHD">مشهد - فرودگاه مشهدی</option>
                        </select>
                    </div>
                </div>
                <div class="form-line">
                    <div class="form-input-label">
                        <i class="fa fa-plane fa-rotate-90 fa-2x" aria-hidden="true"></i>
                        <div class="input-label">
                            مقصد
                        </div>
                    </div>
                    <div class="form-input">
                        <select class="searchinput" title="to" name="to" ng-model="sc.searchData.dst">
                            <option value="THR">تهران - فرودگاه مهرآباد</option>
                            <option value="MHD">مشهد - فرودگاه مشهدی</option>
                        </select>
                    </div>
                </div>
                <div class="form-line">
                    <div class="form-input-label">
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                        <div class="input-label">
                            رفت
                        </div>
                    </div>
                    <div class="form-input">
                        <input type="date" name="going" class="searchinput" title="going" value="2017-02-05" ng-model="sc.searchData.date"/>
                    </div>
                </div>
                <div class="form-line">
                    <div class="form-input-label">
                        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                        <div class="input-label">
                            برگشت
                        </div>
                    </div>
                    <div class="form-input">
                        <input type="date" name="coming" disabled="disabled" class="searchinput" title="coming" value="2017-02-05"/>
                    </div>
                </div>
                <div class="form-line">
                    <div class="count-form">
                        <div class="count-text">
                            بزرگسال
                        </div>

                    </div>
                    <div class="count-form">
                        <div class="count-text">
                            کودک زیر ۱۲ سال
                        </div>
                    </div>
                    <div class="count-form">
                        <div class="count-text">
                            نوزاد زیر ۲ سال

                        </div>
                    </div>
                </div>

                <div class="form-line">
                    <div class="form-input-label">
                        <i class="fa fa-male fa-2x" aria-hidden="true"></i>
                        <select class="countinput" title="adults" name="adults" ng-model="sc.searchData.adults">
                            <option value="1">۱</option>
                            <option value="2">۲</option>
                            <option value="3">۳</option>
                        </select>
                    </div>

                    <div class="form-input-label">
                        <i class="fa fa-child fa-2x" aria-hidden="true"></i>
                        <select class="countinput" title="childs" name="childs" ng-model="sc.searchData.childs">
                            <option value="1">۱</option>
                            <option value="2">۲</option>
                            <option value="3">۳</option>
                        </select>
                    </div>

                    <div class="form-input-label">
                        <i class="fa fa-child fa-1x" aria-hidden="true"></i>
                        <select class="countinput" title="infants" name="infants" ng-model="sc.searchData.infants">
                            <option value="1">۱</option>
                            <option value="2">۲</option>
                            <option value="3">۳</option>
                        </select>
                    </div>
                </div>
            </div>

            <input type="submit" class="sbtn" value="جستجو"/>
        </form>

    </div>
</div>
<div id="home-footer">
    برنا ارضی - امیرحسین غفاری | دانشکده فنی دانشگاه تهران ، بهار ۱۳۹۶
</div>
