<!DOCTYPE html>
<html ng-app="ticketi">
<head>
    <title>Ticketi</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/ticketi.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="assets/javascripts/angular.min.js"></script>
    <script src="assets/javascripts/app.js"></script>
</head>
<body ng-controller="MainController as mc" ng-class="{'home-body' : $root.state == 0, 'flights-body' : $root.state == 1,
'reserve-body':$root.state == 2,'tickets-body':$root.state == 3}">
<div ng-include="'home.html'" ng-controller="SearchController as sc" ng-if="$root.state === 0" ></div>
<div ng-include="'select-flights.html'" ng-controller="SelectController as ec" ng-if="$root.state === 1"></div>
<div ng-include="'reserve.html'" ng-controller="ReserveController as rc" ng-if="$root.state === 2"></div>
<div ng-include="'tickets.html'" ng-controller="TicketsController as tc" ng-if="$root.state === 3"></div>
</body>
</html>