<div class="mynavbar">
    <div class="mycol-md-offset-3 mycol-lg-offset-3 mycol-lg-2 mycol-md-2 mycol-sm-6 mycol-xs-6">
        <div class="mypull-left navbar-text">
            <i class="fa fa-user" aria-hidden="true"></i>
            برنا ارضی
            <div class="user-dropdown-content">
                <button type="button" class="dropdown-button">
                    <i class="fa fa-list" aria-hidden="true"></i> بلیت‌های من
                </button>
                <button type="button" class="dropdown-button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> خروج
                </button>
            </div>
        </div>
    </div>
    <div class="mycol-md-offset-1 mycol-md-3 mycol-lg-offset-2 mycol-lg-2 mycol-sm-6 mycol-xs-6">
        <div class="navbar-logo mynavbar-right">
            <img src="assets/images/LogoBlack.png">
        </div>
        <div class="mypull-right navbar-logo-text">
            تیکِتی
            <i class="fa fa-trademark brand-icon" aria-hidden="true"></i>
        </div>

    </div>
</div>

<div class="mybreadcrumb myrow">
    <div class="mycol-md-offset-1 mycol-md-10 mycol-lg-offset-3 mycol-lg-6 mycol-sm-offset-1 mycol-sm-10 myhidden-xs">
        <div class="mybreadcrumb-item">
            جستجو پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item" >
            انتخاب پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item myactive
">
            ورود اطلاعات
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item ">
            دریافت بلیت
        </div>
    </div>
    <div class="mycol-xs-offset-1 mycol-xs-10 myvisible-xs-block">
        <div class="mybreadcrumb-item myactive">
            ورود اطلاعات

        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-12 col-xs-12">
        <div class="row control-labels">
            <a onclick="history.back(-1)" class="pull-right control-back">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                بازگشت به صفحه‌ی نتایج
            </a>
            <div class="pull-left control-time">
                زمان باقیمانده:
                <span class="rem-time">
                    <!-- TODO runable time -->
					۰۴:۵۹
				</span>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="gray-box">
                <div class="form-label">
                    مشخصات پرواز انتخابی شما
                </div>
                <div class="box round">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 flight-info">
                            <div class="flight-info-item">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                                {{rc.ReserveBean.className}}
                            </div>
                            <div class="flight-info-item">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                                {{rc.ReserveBean.planeModel}}
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 flight-info-main">
                            {{rc.ReserveBean.origCode}}
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            {{rc.ReserveBean.destCode}}
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 flight-info">
                            <div class="flight-info-item">
                                {{rc.ReserveBean.flightCode}}
                            </div>
                            <div class="flight-info-item">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                {{rc.ReserveBean.flightDate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-label">
                    صورت حساب سفر شما
                </div>
                <div class="box round">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>

                            </th>
                            <th>
                                به ازای هر نفر
                            </th>
                            <th>
                                تعداد
                            </th>
                            <th>
                                مجموع
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                بزرگسال
                            <td id="adult-fee" value={{rc.ReserveBean.adultFee}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.adultFee.toString())}} ریال
                            </td>
                            <td id="adult-count" value={{rc.ReserveBean.adults}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.adults.toString())}} نفر
                            </td>
                            <td id="adult-total-price" value={{rc.ReserveBean.adultFee*rc.ReserveBean.adults}}>
                                {{rc.ConvertToPersian((rc.ReserveBean.adultFee*rc.ReserveBean.adults).toString())}} ریال
                            </td>
                        </tr>
                        <tr>
                            <td>
                                کودک زیر ۱۲ سال
                            </td>
                            <td id="child-fee" value={{rc.ReserveBean.childsFee}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.childsFee.toString())}} ریال
                            </td>
                            <td id="child-count" value={{rc.ReserveBean.childs}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.childs.toString())}} نفر
                            </td>
                            <td id="child-total-price" value={{rc.ReserveBean.childsFee*rc.ReserveBean.childs}}>
                                {{rc.ConvertToPersian((rc.ReserveBean.childsFee*rc.ReserveBean.childs).toString())}} ریال
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نوزاد زیر ۲ سال
                            </td>
                            <td id="infant-fee" value={{rc.ReserveBean.infantFee}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.infantFee.toString())}} ریال
                            </td>
                            <td id="infant-count" value={{rc.ReserveBean.infants}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.infants.toString())}} نفر
                            </td>
                            <td id="infant-total-price" value={{rc.ReserveBean.infantFee*rc.ReserveBean.infants}}>
                                {{rc.ConvertToPersian((rc.ReserveBean.infantFee*rc.ReserveBean.infants).toString())}} ریال
                            </td>
                        </tr>
                        <tr class="res">
                            <td colspan="3">
                                مجموع
                            </td>

                            <td id="total-price" value={{rc.ReserveBean.totalPrice}}>
                                {{rc.ConvertToPersian(rc.ReserveBean.totalPrice.toString())}} ریال
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="box round">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div class="btn btn-block btn-danger"
                                 ng-disabled="(rc.ReserveBean.adults <= 0 && rc.passengerSelectedDel == 'adult') || (rc.ReserveBean.childs <= 0 && rc.passengerSelectedDel == 'child') || (rc.ReserveBean.infants <= 0 && rc.passengerSelectedDel == 'infant')"
                                 ng-click="((rc.ReserveBean.adults <= 0 && rc.passengerSelectedDel == 'adult') || (rc.ReserveBean.childs <= 0 && rc.passengerSelectedDel == 'child') || (rc.ReserveBean.infants <= 0 && rc.passengerSelectedDel == 'infant')) || rc.DecPassengerCount()">
                                حذف
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <select name="del-passenger-row" class="selectpicker" ng-model="rc.passengerSelectedDel">
                                <option ng-show="rc.ReserveBean.adults > 0" value="adult">بزرگسال</option>
                                <option ng-show="rc.ReserveBean.childs > 0" value="child">خردسال</option>
                                <option ng-show="rc.ReserveBean.infants > 0" value="infant">نوزاد</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <div id="addButton" ng-disabled="rc.ReserveBean.numOfPassengers >= rc.ReserveBean.maxCap"
                                 class="btn btn-block btn-success" ng-click="rc.ReserveBean.numOfPassengers >= rc.ReserveBean.maxCap || rc.IncPassengerCount()">
                                اضافه
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                            <select name="add-passenger-type" class="selectpicker" ng-model="rc.passengerSelectedAdd">
                                <option value="adult">بزرگسال</option>
                                <option value="child">خردسال</option>
                                <option value="infant">نوزاد</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-label">
                    اطلاعات
                </div>
                <div id="alerts" >
                    <div ng-show="passengersInput.$dirty && passengersInput.$invalid" class="alert alert-danger">
                        <ul>
                            <li>
                                نام و نام خانوادگی باید با حروف انگلیسی نوشته شده باشد و بیشتر از ۲ حرف باشد.
                            </li>
                            <li>
                                شماره ملی باید ۱۰ رقمی باشد.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <form name="passengersInput" id="desktop-form" ng-submit="rc.SendReserve()" class="hidden-xs hidden-sm">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="passenger-row-container-des">
                            <div class="input-passenger-line row" ng-repeat="num in [] | range:0:rc.ReserveBean.adults" ng-init="rc.passengers[num].type = 'بزرگسال'">
                                <div class="col-md-2 col-lg-2">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].nid" placeholder="شماره ملی" tabindex="{{num*4+4}}"  required nid-validator>
                                </div>
                                <div class="col-md-3 col-lg-3 ">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].sn" placeholder="نام خانوادگی (انگلیسی)" tabindex="{{num*4+3}}" required name-validator>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].fn" placeholder="نام (انگلیسی)" tabindex="{{num*4+2}}" required name-validator>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <select ng-model="rc.passengers[num].title"  class="sex-select" tabindex="{{num*4+1}}">
                                        <option value="male">آقای</option>
                                        <option value="female">خانم</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <div class="passenger-type">
                                        <i class="fa fa-male fa-lg " aria-hidden="true"></i>
                                        {{num + " - " }}بزرگسال
                                    </div>
                                </div>
                            </div>
                            <div class="input-passenger-line row" ng-repeat="num in [] | range:rc.ReserveBean.adults:rc.ReserveBean.adults + rc.ReserveBean.childs" ng-init="rc.passengers[num].type = 'خردسال'">
                                <div class="col-md-2 col-lg-2">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].nid" placeholder="شماره ملی" tabindex="{{num*4+4}}" required nid-validator>
                                </div>
                                <div class="col-md-3 col-lg-3 ">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].sn" placeholder="نام خانوادگی (انگلیسی)" tabindex="{{num*4+3}}" required name-validator>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].fn" placeholder="نام (انگلیسی)" tabindex="{{num*4+2}}" required name-validator>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <select ng-model="rc.passengers[num].title" class="sex-select" tabindex="{{num*4+1}}">
                                        <option value="male">آقای</option>
                                        <option value="female">خانم</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <div class="passenger-type">
                                        <i class="fa fa-child fa-lg " aria-hidden="true"></i>
                                        {{num + " - " }}خردسال
                                    </div>
                                </div>
                            </div>
                            <div class="input-passenger-line row" ng-repeat="num in [] | range:rc.ReserveBean.adults + rc.ReserveBean.childs:rc.ReserveBean.adults + rc.ReserveBean.childs + rc.ReserveBean.infants" ng-init="rc.passengers[num].type = 'نوزاد'">
                                <div class="col-md-2 col-lg-2">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].nid" placeholder="شماره ملی" tabindex="{{num*4+4}}" required nid-validator>
                                </div>
                                <div class="col-md-3 col-lg-3 ">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].sn" placeholder="نام خانوادگی (انگلیسی)" tabindex="{{num*4+3}}" required name-validator>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <input type="text" class="myinput" ng-model="rc.passengers[num].fn" placeholder="نام (انگلیسی)" tabindex="{{num*4+2}}" required name-validator>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <select ng-model="rc.passengers[num].title" class="sex-select" tabindex="{{num*4+1}}">
                                        <option value="male">آقای</option>
                                        <option value="female">خانم</option>
                                    </select>
                                </div>
                                <div class="col-md-2 col-lg-2 ">
                                    <div class="passenger-type">
                                        <i class="fa fa-child " aria-hidden="true"></i>
                                        {{num + " - " }}نوزاد
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="form-btns pull-left">
                                    <button type="submit"  ng-disabled="passengersInput.$invalid || passengersInput.$pristine" class="bbtn pull-left" ng-class="{'disabled':passengersInput.$invalid || passengersInput.$pristine}">
                                        پرداخت و ثبت نهایی
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </button>
                                    <a href="#" class="orbtn pull-right" onclick="history.back(-1)"> انصراف</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>