<body class="">
<div class="mynavbar">
    <div class="col-md-offset-3 col-lg-offset-3 col-lg-2 col-md-2 col-sm-6 col-xs-6">
        <div class="pull-left navbar-text">
            <i class="fa fa-user" aria-hidden="true"></i>
            برنا ارضی
            <div class="user-dropdown-content">
                <button type="button" class="dropdown-button">
                    <i class="fa fa-list" aria-hidden="true"></i> بلیت‌های من
                </button>
                <button type="button" class="dropdown-button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> خروج
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-3 col-lg-offset-2 col-lg-2 col-sm-6 col-xs-6">
        <div class="navbar-logo navbar-right">
            <img src="assets/images/LogoBlack.png">
        </div>
        <div class="pull-right navbar-logo-text">
            تیکِتی
            <i class="fa fa-trademark brand-icon" aria-hidden="true"></i>
        </div>

    </div>
</div>
<div class="mybreadcrumb row">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6 col-sm-offset-1 col-sm-10 hidden-xs">
        <div class="mybreadcrumb-item">
            جستجو پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item active">
            انتخاب پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item ">
            ورود اطلاعات
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item">
            دریافت بلیت
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 visible-xs-block">
        <div class="mybreadcrumb-item active">
            انتخاب پرواز
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-12">
        <div class="row control-labels">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <div class="pull-left mylabel">
                    {{ec.FindFlightCount()}} پرواز با مشخصات دلخواه شما پیدا شد
                </div>
            </div>
            <div class=" col-md-6 col-lg-6 col-sm-6 col-xs-6">
                <a href="index.html" class="mylabel pull-right control-back">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    بازگشت به صفحه‌ی جستجو
                </a>
            </div>
        </div>
        <br>
        <div class="gray-box">
            <div ng-show="$root.showWrongCost" class="alert alert-danger">
                متأسفانه در قیمت پرواز انتخابی شما تغییری وجود داشت! لطفا بازبینی کنید.
            </div>
            {{ec.showWrongCost}}
            <div class="row center">
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <select name="airline-code-filter" ng-model="ec.airlineSelected" ng-options="flight for flight in this.flights | addAllAirlines"></select>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <select name="seat-class-filter" ng-model="ec.classSelected" ng-options="flight for flight in this.flights | addAllClasses"></select>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <select name="price-filter" ng-model="ec.sortType">
                        <option value="mcost">قیمت نزولی</option>
                        <option value="cost">قیمت صعودی</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="gray-box">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="flight-res-container">
                        <div class="flight row" ng-show="ec.CheckAirline(seat.component1.airlineCode, ec.airlineSelected) && ec.CheckClass(seat.component1.className, ec.classSelected)"  ng-repeat="seat in ec.flights | completeSeats | nonEmpty | orderBy:ec.sortType">
                                <div class="hidden-xs hidden-sm">
                                    <form ng-submit="ec.SendReserveReq(seat)">
                                        <button type="submit" class="col-md-3 col-lg-3 resbtn round-left">
                                            {{ec.ConvertToPersian(seat.cost + "")}} ریال
                                            <br>
                                            <span>رزرو آنلاین</span>
                                        </button>
                                    </form>
                                    <div class="col-md-9 col-lg-9 box round-right">
                                        <div class="col-md-8 col-lg-8 ">
                                            <div class="flight-info-main res">
                                                {{seat.component1.origCode}} {{ec.ConvertToPersian(seat.depTime.hour + ":" + seat.depTime.min)}}
                                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                                {{seat.component1.destCode}} {{ec.ConvertToPersian(seat.arvTime.hour + ":" + seat.arvTime.min)}}
                                            </div>
                                            <div class="flight-info res">
							<span class="plane-name pull-right">
								<i class="fa fa-plane" aria-hidden="true"></i>
								{{seat.airplaneModel}}
							</span>
                                                <span class="avail-seats pull-left">
							<i class="fa fa-suitcase" aria-hidden="true"></i>
 {{ec.ConvertToPersian(seat.component2)}} صندلی باقیمانده کلاس {{seat.component1.className}}
							</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4 ">
                                            <div class="flight-name">
                                                {{seat.component1.airlineCode}}
                                            </div>
                                            <div class="flight-date">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                {{seat.flightDate.day + seat.flightDate.month}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer">
    برنا ارضی - امیرحسین غفاری | دانشکده فنی دانشگاه تهران ، بهار ۱۳۹۶
</div>
