<!DOCTYPE html>
<html ng-app="aTicket">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<head>
    <!-- Bootstrap -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <title>ورود به سایت</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/SignIn.css">


    <link rel="stylesheet" href="assets/stylesheets/font-awesome.css">
    <meta name="description" content="enter information">
    <meta name="author" content="Pegah Abdi, Sajjad Movahedi">

    <script type="text/javascript" src="assets/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/SingIn.js"></script>

</head>
<body>
    <header>
        <div class="home-container">

            <div class="navbar">
                <div class="navbar-logo">
                    <img src="assets/images/LogoWhite.png">
                    <div class="brand">
                        اکبر تیکت
                        <i class="fa fa-trademark brand-icon" aria-hidden="true"></i>
                    </div>
                </div>
             </div>

            <hr class="navbar-line">
        </div>

    </header>
    <form name="loginForm" ng-controller="UserController as userCtrl"
          ng-submit="userCtrl.login(userInfo)" novalidate>

        <div class="alert alert-danger" ng-hide="userCtrl.validLogin">
            <strong>خطا</strong> نام کاربری یا گذرواژه اشتباه است
        </div>

    <div class="login">
        <div class="login-header">
            <h1>ورود</h1>
        </div>
        <div class="login-form">
            <h3>نام کاربری:</h3>
            <input type="text" ng-model="userCtrl.userInfo.username" placeholder="نام کاربری" required/><br>
            <h3>گذرواژه:</h3>
            <input type="password" ng-model="userCtrl.userInfo.password" placeholder="گذر واژه" required/>
            <br>

            <input type="submit" value="ورود" class="login-button"/>
            <br>
            <a class="sign-up">عضو شوید!</a>
            <br>
            <h6 class="no-access">نمی توانید وارد شوید؟</h6>
        </div>
    </div>
    <div class="error-page">
        <div class="try-again">خطا: دوباره امتحان کنید</div>
    </div>

    </form>
</body>