<div class="mynavbar">
    <div class="mycol-md-offset-3 mycol-lg-offset-3 mycol-lg-2 mycol-md-2 mycol-sm-6 mycol-xs-6">
        <div class="mypull-left navbar-text">
            <i class="fa fa-user" aria-hidden="true"></i>
            برنا ارضی
            <div class="user-dropdown-content">
                <button type="button" class="dropdown-button">
                    <i class="fa fa-list" aria-hidden="true"></i> بلیت‌های من
                </button>
                <button type="button" class="dropdown-button">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> خروج
                </button>
            </div>
        </div>
    </div>
    <div class="mycol-md-offset-1 mycol-md-3 mycol-lg-offset-2 mycol-lg-2 mycol-sm-6 mycol-xs-6">
        <div class="navbar-logo mynavbar-right">
            <img src="assets/images/LogoBlack.png">
        </div>
        <div class="mypull-right navbar-logo-text">
            تیکِتی
            <i class="fa fa-trademark brand-icon" aria-hidden="true"></i>
        </div>

    </div>
</div>

<div class="mybreadcrumb myrow">
    <div class="mycol-md-offset-1 mycol-md-10 mycol-lg-offset-3 mycol-lg-6 mycol-sm-offset-1 mycol-sm-10 myhidden-xs">
        <div class="mybreadcrumb-item">
            جستجو پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item" >
            انتخاب پرواز
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item ">
            ورود اطلاعات
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="mybreadcrumb-item myactive
">
            دریافت بلیت
        </div>
    </div>
    <div class="mycol-xs-offset-1 mycol-xs-10 myvisible-xs-block">
        <div class="mybreadcrumb-item myactive">
            دریافت بلیت

        </div>
    </div>
</div>

<div class="mycontainer">
    <div class="mycol-md-offset-1 mycol-md-10 mycol-lg-offset-1 mycol-lg-10 mycol-sm-12">
        <div class="myrow control-labels">
            <div class="mycol-md-6 mycol-lg-6 mycol-sm-6 mycol-xs-6">
                <a href="#modal-one" class="mypull-left orbtn" id="printall">
                    چاپ همه
                </a>
            </div>
            <div class=" mycol-md-6 mycol-lg-6 mycol-sm-6 mycol-xs-6">
                <div class="mylabel mypull-right">
                    بلیت های صادرشده
                </div>
            </div>
        </div>
        <br>
        <div class="myrow" ng-repeat="ticket in tc.TicketsData">
            <div class="ticket-box">
                <div class="myrow">
                    <div class="mycol-md-6 mycol-lg-6 mycol-sm-12 mycol-xs-12">
                        <span class="ticket-box-label mypull-right">کد مرجع</span>
                        <span class="codes">{{ticket.refCode}}</span>
                    </div>
                    <div class="mycol-md-6 mycol-lg-6 mycol-sm-12 mycol-xs-12">
                        <span class="ticket-box-label mypull-right">شماره بلیت</span>
                        <span class="codes">{{ticket.ticketNum}}</span>
                    </div>
                </div>
                <hr>
                <div class="myrow">
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="black normal-text">
                            {{ticket.planeModel}}
                        </div>
                    </div>
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="black normal-text">
                            {{ticket.seatClassName}}
                        </div>
                    </div>
                    <div class="mycol-md-4 mycol-lg-4 mycol-sm-12 mycol-xs-12">

                        <span class="ticket-box-label">پرواز</span>
                        <span class="tickets-info">{{ticket.flightName}}</span>
                    </div>
                    <div class="mycol-md-4 mycol-lg-4 mycol-sm-12 mycol-xs-12">
                        <span class="ticket-box-label">نام</span>
                        <span class="tickets-info">{{ticket.passengerName}}</span>
                    </div>
                </div>
                <hr>
                <div class="myrow">
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="ticket-box-label">
                            ورود
                        </div>
                        <br>
                        <div class="myinput">
                            {{ticket.depTime}}
                        </div>
                    </div>
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="ticket-box-label">
                            خروج
                        </div>
                        <br>
                        <div class="myinput">
                            {{ticket.arvTime}}

                        </div>
                    </div>
                    <div class="mycol-md-4 mycol-lg-4 mycol-sm-12 mycol-xs-12">
                        <div class="ticket-box-label">
                            تاریخ
                        </div>
                        <br>
                        <div class="myinput">
                            {{tc.TicketsData[0].flightDate}}
                        </div>
                    </div>
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="ticket-box-label">
                            به
                        </div>
                        <br>
                        <div class="myinput">
                            {{ticket.destCode}}
                        </div>
                    </div>
                    <div class="mycol-md-2 mycol-lg-2 mycol-sm-12 mycol-xs-12">
                        <div class="ticket-box-label">
                            از
                        </div>
                        <br>
                        <div class="myinput">
                            {{ticket.origCode}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="modal-one" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h1> چاپ یا ایمیل بیلت های شما</h1>
        </div>
        <div class="modal-body">
            <a class="printbtn"> جاپ</a>
            <a class="printbtn"> ایمیل</a>
        </div>
        <div class="modal-footer">
            <a href="#close">بستن</a>
        </div>
    </div>
</div>